<html>
    <head>
        <title>Famous Spider-Men</title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    </head>

    <body>
        <div id="mainpanel">
        <h1><%= count %> people love these heros:</h1> 
        <ol>
            <li>Peter Parker</li>
            <li>Miles Morales</li>
        </ol>
    </div>

        <%- include('navbar.ejs') %>
    </body>
</html>
