<html>
    <head>
        <title>Famous Spider-Men</title>
       <%- include('header.ejs') %>
    </head>

    <body>
        <div id="mainpanel">
        <h1>People love these heros:</h1> 
        <ol>
            <li>Peter Parker</li>
            <li>Miles Morales</li>
        </ol>
    </div>

        <%- include('navbar.ejs') %>
    </body>
</html>
