<html>

<head>
    <title>Spider-Man Fan Site</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>

<body>

    <div id="mainpanel">
    I am a huge Spider-Man fan. It's crazy.<a href="/famous"></a>
</div>    

    <%- include('navbar.ejs') %>
</body>
</html>